{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Blogs</title>
<style>
  #img {
    width: 300px;
    border-radius: 10%;
    margin: 0 auto;

  }
  #container {
    width: 300px;
    margin: 0 auto;
  }

  #profileImage {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  #ltd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #blogTitle {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
  }

  #imgDiv {
    margin: 0 auto;
  }
</style>
{% endblock %}
{% block body %}
{% include "navbar.html" %}
{% for blog in blogs %}
<br>
<div class="container" id="div">
  <div id="container">
    <div id="ltd">
      <a href="{% url 'all_users_profile_page' blog.profile.id %}">
      {% if blog.profile.image %}
        <a href="{% url 'all_users_profile_page' blog.profile.id %}">
          <img id="profileImage" src="{{ blog.profile.image.url }}"
            alt="Profile image of the user who uploaded this blog.">
        </a>
      {% else %}
        <img id="profileImage" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
      {% endif %}
        <div>
          <strong>
            {{ blog.profile.user.first_name }} {{ blog.profile.user.last_name }}
          </strong>
      </a>
      <p>{{ blog.time_stamp.date }}</p>
    </div>
  </div>
  <div id="blogTitle">
    <a href="{% url 'blog_about_page' blog.id %}">
      <strong>{{ blog.title }}</strong>
    </a>
  </div>
  {% if blog.image %}
  <div id="imgDiv">
    <a href="{% url 'blog_about_page' blog.id %}">
      <img id="img" src="{{ blog.image.url }}">
    </a>
  </div>
  {% endif %}
</div>
<br>
<hr>
<br>
<br>
</div>
{% endfor %}

<br>

{% include "footer.html" %}

{% endblock %}