{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{ blog.title }}</title>
<style>
  #userInfoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #ownerImg {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  #reviewerInfoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #reviewerImage {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }


  #form {
    margin: 0 auto;
    width: 50%;
    border-color: black;
  }

  #formInput {
    text-align: center;
    width: 350px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px lightgray solid;
  }

  #formInput:focus {
    border: 1px black solid;
    outline: none;
  }

  #formInput:hover {
    border: 1px black solid;
    outline: none;
  }

  #formMainBox {
    margin: 0 auto;
    width: 100%;
  }

  #btn{
    margin-top: 20px;
  }

  #formMiniBox {
    margin: 0 auto;
    width: 100%;
  }

#img {
  width: 88%;
  border-radius: 20px;
  margin-bottom: 20px;
}

#formInput {
  text-align: center;
  height: 40px;
  margin: 0 auto;
  width: 100%;
}

</style>
{% endblock%}
{% block body %}
{% include "navbar.html" %}
<div style="text-align: center; margin: 0 auto; padding: 20px">
  <div id="userInfoBox">
    {% if blog.profile.image %}
      <img id="ownerImg" src="{{ blog.profile.image.url }}" alt="Owner's profile image.">
    {% else %}
      <img id="ownerImg" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
    {% endif %}
    <div>
      <strong>{{ blog.profile.user.first_name }} {{ blog.profile.user.last_name }}</strong>
      <p>{{ blog.time_stamp.date }}</p>
    </div>
  </div>
  <br>
  <h1>{{ blog.title }}</h1>
  <br>
  <img id="img" src="{{ blog.image.url }}">
  <br>
  <p>{{ blog.text }}</p>
  <br>
  <hr>
  <br>
  <div id="formMainBox">
    <div id="formMiniBox">



      <form id="form" action="{% url 'submit_review' blog.id %}" method="POST">
        {% csrf_token %}
        <h5>Review</h5>
        <input id="formInput" placeholder="Write your review" name="comment" required></input>
        <br>
        {% if request.user.is_authenticated %}
        <button id="btn" type="submit" class="btn btn-outline-dark">Submit Review</button>
        {% else %}
        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
        {% endif %}
      </form>
      <br>
      <div style="text-align: center;">
        {% for comment in comments %}
        <div id="reviewerInfoBox">
          {% if comment.profile.image %}
          <img id="reviewerImage" src="{{ comment.profile.image.url }}"
            alt="Profile image of user who commented on this blog and this is his/her comment.">
          {% else %}
            <img id="reviewerImage" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
          {% endif %}
          <div>
            <strong>
              {{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}
            </strong>
            <p>{{ comment.time_stamp.date }}</p>
          </div>
        </div>
        <br>
        <p>{{ comment.comment }}</p>
        <br>
        {% if comment.image %}
        <img style="max-width: 200px;" src="{{ comment.image.url }}">
        <br>
        <br>
        {% endif %}
        <a class="btn btn-outline-dark" href="{% url 'blog_comment_about_page' comment.id %}">Reply</a>
        <hr>
        <br>
        {% endfor %}
      </div>
    </div>
</div>
</div>
<br>

{% include "footer.html" %}

{% endblock %}