{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{ blog.title }}</title>

<style>
    #userInfoBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  
    #ownerImg {
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }
  
    #reviewerImage {
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
  
    #mainReplyBox{
        margin: 0 auto;
        
    }
  
    #secondReplyBox{
      margin: 0 auto;
    }

    #form {
      margin: 0 auto;
      width: 50%;
      border-color: black;
    }
  
    #formInput{
      text-align: center;
      margin: 0 auto;
      width: 260px;
    }

    #submit{
      margin-top: 20px;
    }
  
    #formInput:focus{
      outline: none;
    }
  
    #formMainBox {
      margin: 0 auto;
      width: 100%;
    }
  
    #formMiniBox {
      margin: 0 auto;
      width: 100%;
    }

  </style>

{% endblock%}
{% block body %}
{% include "navbar.html" %}
<div style="text-align: center; margin-left: 30px; margin-right: 30px;">
    <div id="userInfoBox">
      {% if comment.profile.image %}
        <img id="ownerImg" src="{{ comment.profile.image.url }}" alt="Image of user's profile who posted this comment.">
      {% else %}
      <img id="ownerImg" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
      {% endif %}
        <div>
            <strong>{{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}</strong>
            <p>{{ comment.time_stamp.date }}</p>
        </div>
    </div>
    <br>
    <p>{{ comment.comment }}</p>
    <br>
    <hr>
    <br>
    <div id="mainReplyBox" class="row">
        <div id="secondReplyBox" class="col-md-9">


            <br>
            <div style="text-align: center;">
                {% for reply in replies %}
                <div id="userInfoBox">
                    <img id="reviewerImage" src="{{ reply.profile.image.url }}" alt="Image of user's profile who posted this reply on this comment.">
                    <div>
                        <strong>{{ reply.profile.user.first_name }} {{ reply.profile.user.last_name }}</strong>
                        <p>{{ reply.time_stamp.date }}</p>
                    </div>
                </div>
                <br>
                <p>{{ reply.reply }}</p>
                <br>
                <hr>
                <br>
                {% endfor %}
                <br><br>
                <form action="{% url 'submit_comment_reply' comment.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <input id="formInput" name="reply" type="text" placeholder="Write Your Reply" required></input>
                        <br>
                        {% if request.user.is_authenticated %}
                        <button id="submit" type="submit" class="btn btn-outline-dark">Submit</button>
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login
                                    now</a></span></p>
                        {% endif %}

                    </div>
                </form>
                <br><br>
            </div>
        </div>

        {% endblock %}