{% extends 'base.html' %}
{% block head %}
<title>Change Profile Image</title>
{% endblock %}
{% block body %}
<div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 60px;">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            {% csrf_token %}
          <label for="exampleInputEmail1" class="form-label">Select an image</label>
          <input name="image" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}