{% extends 'base.html' %}
{% block head %}
<title>{{ request.user.first_name }} {{ request.user.last_name }}</title>

<style>
  input{
    max-width: 200px;
  }
  input:focus{
    outline: none;
    border: 1px solid black;
  }
</style>

{% endblock %}
{% block body %}
<div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 60px;">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            {% csrf_token %}
          <label for="exampleInputEmail1" class="form-label">Select an image</label>
          <br>
          <input name="image" type="file" required>
        </div>
        <div id="btnContainer">
          <a id="btn" class="btn btn-outline-dark" href="/me/">Cancel</a>
          <button id="btn" class="btn btn-outline-dark" type="submit">Submit</button>
      </div>
      </form>
</div>
{% endblock %}