{% extends 'base.html' %}
{% block head %}
<title>{{ request.user.first_name }} {{ request.user.last_name }}</title>

<style>
    #mainContainer{
        width: 100%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container{
        margin: 0 auto;
        width: 350px;
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 20px;
    }

    input{
        width: 270px;
        height: 50px;
        border-radius: 10px;
        border: 1px lightgray solid;
        text-align: center;
        margin-top: 20px;
        padding: 5px;
    }
    input:hover{
        border: 1px solid black;
        outline: none;
    }

    input:focus{
        border: 1px solid black;
        outline: none;
    }

    #btnBox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
    }

    #btn{
        width: 100px;
    }
</style>

{% endblock %}
{% block body %}
    <div id="mainContainer">
        <form id="container" method="post" enctype="multipart/form-data">
            <p>Please fill this form to create your profile.</p>
            <br><hr><br>
            {% csrf_token %}
            {{ form.image }}
            <br>
            <input type="text" name="city" placeholder="City">
            <br>
            <input type="text" name="country" placeholder="Countery">
            <br>
            <div id="btnBox">
                <a id="btn" href="{% url 'home' %}" class="btn btn-outline-dark">Cancel</a>
                <button id="btn" class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}