{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</title>
<style>
    .image {
        max-width: 500px;
        max-height: 800px;
    }

    #img {
        /* Define the width and height of the circular image container */
        width: 260px;
        height: 260px;
        /* Set the border-radius to 50% to make the image circular */
        border-radius: 50%;
        /* Optional: Add a border to the circular image */
        border: 20px solid white;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        /* Prevent the image from being stretched or skewed */
        object-fit: cover;
    }


    @media(min-width:768px) {
        #container {
            margin-top: 20px;
            padding: 20px;
            min-width: 100%;
            min-height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #imageBox {
            grid-column-start: span 6;
        }

        #infoBox {
            grid-column-start: span 6;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #img {
            width: 300px;
            height: 300px;
        }
    }

    @media(min-width:1024px) {
        #container {
            margin-top: 20px;
            padding: 20px;
            min-width: 100%;
            min-height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #imageBox {
            grid-column-start: span 6;
        }

        #infoBox {
            grid-column-start: span 6;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #img {
            width: 500px;
            height: 500px;
        }
    }
</style>
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div id="container" class="container text-center">
    {% if user_profile %}
    <div id="imageBox">
        {% if user_profile.image %}
            <img id="img" src="{{ user_profile.image.url }}">
        {% else %}
            <img id="img" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
        {% endif %}
    </div>
    <div id="infoBox">
        <div id="miniInfoBox">
            <h2>{{ user_profile.fname }} {{ user_profile.lname }}</h2><br>
            <p><strong>City:</strong> {{ user_profile.city }}</p>
            <p><strong>Country:</strong> {{ user_profile.country }}</p>
            <a class="btn btn-outline-dark" href="{% url 'change_image' user_profile.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  </svg>
            </a>
            <a class="btn btn-outline-dark" href="{% url 'create_user_post' user_profile.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
              </svg>
            </a>
            <a class="btn btn-outline-dark" href="{% url 'create_blog' user_profile.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
              </svg>
            </a>
            <a class="btn btn-outline-dark" href="{% url 'current_user_posts' user_profile.slug user_profile.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
                    <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3m0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m2.646 1A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3z"/>
                    <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0"/>
                  </svg>
            </a>
            <a class="btn btn-outline-dark" href="{% url 'current_user_blogs' user_profile.slug user_profile.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1"/>
                  </svg>
            </a>
            <a class="btn btn-outline-dark" href="{% url 'delete_profile' user_profile.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            </a>
        </div>
    </div>
    {% else %}
    <p>No profile found for the current user.</p>
    {% endif %}
</div>
{% endblock %}