{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</title>
<style>
    .image {
        max-width: 500px;
        max-height: 800px;
    }

    #img {
        /* Define the width and height of the circular image container */
        width: 260px;
        height: 260px;
        /* Set the border-radius to 50% to make the image circular */
        border-radius: 50%;
        /* Optional: Add a border to the circular image */
        border: 20px solid white;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        /* Prevent the image from being stretched or skewed */
        object-fit: cover;
    }


    @media(min-width:768px) {
        #container {
            margin-top: 20px;
            padding: 20px;
            min-width: 100%;
            min-height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #imageBox {
            grid-column-start: span 6;
        }

        #infoBox {
            grid-column-start: span 6;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #img {
            width: 300px;
            height: 300px;
        }
    }

    @media(min-width:1024px) {
        #container {
            margin-top: 20px;
            padding: 20px;
            min-width: 100%;
            min-height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #imageBox {
            grid-column-start: span 6;
        }

        #infoBox {
            grid-column-start: span 6;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #img {
            width: 500px;
            height: 500px;
        }
    }
</style>
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div id="container" class="container text-center">
    {% if user_profile %}
    <div id="imageBox">
        {% if user_profile.image %}
            <img id="img" src="{{ user_profile.image.url }}">
        {% else %}
            <img id="img" src="{% static 'images/profile_image.png' %}" alt="User doesn't have any profile image.">
        {% endif %}
    </div>
    <div id="infoBox">
        <div id="miniInfoBox">
            <h2>{{ user_profile.fname }} {{ user_profile.lname }}</h2><br>
            <p><strong>City:</strong> {{ user_profile.city }}</p>
            <p><strong>Country:</strong> {{ user_profile.country }}</p>
            <a class="btn btn-outline-dark" href="{% url 'change_image' user_profile.id %}">Change profile image</a>
            <a class="btn btn-outline-dark" href="{% url 'create_user_post' user_profile.id %}">Upload a Post</a>
            <a class="btn btn-outline-dark" href="{% url 'create_blog' user_profile.id %}">Upload a blog</a>
            <a class="btn btn-outline-dark" href="{% url 'current_user_posts' user_profile.slug user_profile.id %}">My Posts</a>
            <a class="btn btn-outline-dark" href="{% url 'current_user_blogs' user_profile.slug user_profile.id %}">My Blogs</a>
        </div>
    </div>
    {% else %}
    <p>No profile found for the current user.</p>
    {% endif %}
</div>
{% endblock %}