{% extends 'base.html' %}
{% block head %}
<title>{{ profile.user.fname }}</title>
<style>
    .image {
        max-width: 500px;
        max-height: 800px;
    }
    #img{
        /* Define the width and height of the circular image container */
        width: 28%;
        height: 28%;
        /* Set the border-radius to 50% to make the image circular */
        border-radius: 50%;
        /* Optional: Add a border to the circular image */
        border: 20px solid white;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        /* Prevent the image from being stretched or skewed */
        object-fit: cover;
  }
</style>
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container text-center">
    {% if blogs %}
    {% for blog in blogs %}
    <a class="btn" href="{% url 'blog_about_page' blog.id %}">
    <strong>{{ blog.time_stamp }}</strong>
    <br>
    {% if blog.capution %}
    <p>{{ blog.capution }}</p>
    {% endif %}
    <br>
    {% if blog.image %}
    <img class='image' src="{{ blog.image.url }}">
    {% endif %}
    </a>
    <br><br>
    <a href="{% url 'delete_blog' blog.id %}"><button class="btn btn-outline-danger">Delete</button></a>
    <br><br><hr><br><br>
    {% endfor %}
    {% else %}
    <h1>You didn't upload any post yet.</h1>
    {% endif %}
</div>
{% endblock %}
