{% extends 'base.html' %}
{% block head %}
<title>{{ request.user.first_name }} {{ request.user.last_name }}</title>
<style>
  #confirm{
    font-size: 25px;
  }
</style>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}
<div style="text-align:center; margin-top:200px" class="container">
  <p id="confirm">Are you sure?</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <a href="{% url 'current_user_profile' %}" class="btn btn-outline-dark">Cancel</a>
        <button class="btn btn-outline-dark" type="submit">Delete</button>
    </form>
</div>
<br>
{% include 'footer.html' %}
{% endblock %}
