{% extends 'base.html' %}
{% block head %}
<title>WYNNN | Signup</title>
<style>
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .signup-form {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .signup-form button {
    width: 100%;
  }

  .login-link {
    margin-top: 10px;
  }

  .signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  input {
    text-align: center;
    width: 300px;
    border-radius: 20px;
    border: 1px lightgray solid;
    padding: 5px;
  }

  input:hover {
    border: 1px black solid;
  }

  input:focus {
    border: 1px black solid;
    outline: none;
  }

  #btnBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 98%;
    padding: 10px;
    margin: 0 auto;
  }

  #btn {
    width: 100px;
  }
</style>
{% endblock %}
{% block body %}
<br>
<br>
<div class="container">
  <form method="POST" class="signup-form">
    {% csrf_token %}
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="text" name="first_name" placeholder="First Name">
    <br>
    <input type="text" name="last_name" placeholder="Last name">
    <br>
    {% if password_error %}
      <p>{{ password_error }}</p>
      <br>
    {% endif %}
    <input type="password" name="password1" id="password" placeholder="Password">
    <br>
    <input type="password" name="password2" id="password2" placeholder="Confirm password">
    <br>
    <p id="passwordBtn" class="btn btn-outline-dark" onclick="clickHandler()">Show password</p>
    <br>
    <div id="btnBox">
      <a id="btn" href="{% url 'login' %}" class="btn btn-outline-dark">Login</a>
      <button id="btn" type="submit" class="btn btn-outline-dark">Sign Up</button>
    </div>
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
  </form>
</div>

<script>
  let input = document.getElementById('password');
  let inputTwo = document.getElementById('password2');
  let passwordBtn = document.getElementById('passwordBtn');
  let showPassword = false;
  function showPasswordHandler(){
    if(showPassword){
      input.type = "text";
      inputTwo.type = "text";
      passwordBtn.innerText = "Hide password";
    }else{
      input.type = "password";
      inputTwo.type = "password";
      passwordBtn.innerText = "Show password";
    }
  }
  let clickHandler = () =>{
    showPassword = !showPassword;
    showPasswordHandler();
  }
  showPasswordHandler();
</script>
{% endblock %}