{% extends 'base.html' %}
{% block head %}
<title>Story Book | OTP </title>
{% endblock %}
{% block body %}
<div style="text-align: center; margin-top: 200px;" class="container">
    <p>{{ otp }}</p>
    {% if error_message %}
    <p style='text-align:center; color:red;'>{{ error_message }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input style="text-align: center;" type="text" name="otp" placeholder="Enter OTP">
        <br>
        <br>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
{% endblock %}
