{% extends 'base.html' %}
{% block head %}
<title>Story Book | Search Results</title>

<style>
    #userInfoSearchBox{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 350px;
    }
    

    strong{
        font-size: 20px;
    }


    a{
        text-decoration: none;
    }

    #linkBox{
        text-decoration: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px lightgray solid;
        width: 350px;
        border-radius: 20px;
    }

    #linkBox:hover{
        border: 1px black solid;
    }

    #img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    #postMainBox{
        width: 300px;
        margin: 0 auto;
        text-align: center;
        border: 1px lightgray solid;
        border-radius: 20px;
    }

    #postMainBox:hover{
        border: 1px solid black;
    }

    #postBox{
        text-align: center;
        margin: 0 auto;
        width: 270px;
        height: 270px;
        border-radius: 20px;
    }

    #postBox:hover{
        border: 1px black solid;
    }

    #postUserImgBox{
        width: 250px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #postUserImgBox:hover{
        border: 1px black solid;
        border-radius: 20px;
    }

    #postUserImg{
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    #postImg{
        margin: 0 auto;
        max-width: 260px;
        max-height: 260px;
        border-radius: 20px;
    }

    h1{
        font-size: medium;
    }
</style>

{% endblock%}
{% block body %}

{% include "navbar.html" %}

{% for search in user_fname%}
{% if request.user.id == search.user.id %}
    <a id="linkBox" class='btn' href="{% url 'current_user_profile' %}">
        <div id="userInfoSearchBox">
            {% if search.image %}
                <img id="img" src="{{ search.image.url }}">
            {% endif %}
            <strong>{{ search.user.first_name }} {{ search.user.last_name }}</strong>
        </div>
    </a>
    {% else %}
    <a id="linkBox" class='btn' href="{% url 'all_users_profile_page' search.id %}">
        <div id="userInfoSearchBox">
            {% if search.image %}
                <img id="img" src="{{ search.image.url }}">
            {% endif %}
            <strong>{{ search.user.first_name }} {{ search.user.last_name }}</strong>
        </div>
    </a>
    {% endif %}
{% endfor %}

{% for search in users%}
{% if request.user.id == search.user.id %}
<a id="linkBox" class='btn' href="{% url 'current_user_profile' %}">
    <div id="userInfoSearchBox">
        {% if search.image %}
            <img id="img" src="{{ search.image.url }}">
        {% endif %}
        <strong>{{ search.user.first_name }} {{ search.user.last_name }}</strong>
    </div>
</a>
{% else %}
<a id="linkBox" class='btn' href="{% url 'all_users_profile_page' search.id %}">
    <div id="userInfoSearchBox">
        {% if search.image %}
            <img id="img" src="{{ search.image.url }}">
        {% endif %}
        <strong>{{ search.user.first_name }} {{ search.user.last_name }}</strong>
    </div>
</a>
{% endif %}
{% endfor %}

{% for search in posts %}
<div id="postMainBox">
    <br>
    {% if request.user.id == search.profile.user.id %}
        <a id="postUserImgBox" class='btn' href="{% url 'current_user_profile' %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% else %}
        <a id="postUserImgBox" class='btn' href="{% url 'all_users_profile_page' search.profile.id %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% endif %}
    <br>
    <div id="postBox">
        <p>{{ search.capution }}</p>
        {% if search.image %}
        <br>
        <img id="postImg" src="{{ search.image.url }}">
        <br><br>
        {% endif %}
    </div>
    <br>
</div>
<br>
{% endfor %}

{% for search in blog %}
<div id="postMainBox">
    <br>
    {% if request.user.id == search.profile.user.id %}
        <a id="postUserImgBox" class='btn' href="{% url 'current_user_profile' %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% else %}
        <a id="postUserImgBox" class='btn' href="{% url 'all_users_profile_page' search.profile.id %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% endif %}
    <br>
    <div id="postBox">
        <h1>{{ search.title }}</h1>
        {% if search.image %}
        <br>
        <img id="postImg" src="{{ search.image.url }}">
        <br><br>
        {% endif %}
    </div>
    <br>
</div>
<br>
{% endfor %}

{% for search in blogs %}
<div id="postMainBox">
    <br>
    {% if request.user.id == search.profile.user.id %}
        <a id="postUserImgBox" class='btn' href="{% url 'current_user_profile' %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% else %}
        <a id="postUserImgBox" class='btn' href="{% url 'all_users_profile_page' search.profile.id %}">
            {% if search.profile.image %}
                <img id="postUserImg" src="{{ search.profile.image.url }}">
            {% endif %}
            <div>
                <strong>{{ search.profile.user.first_name }} {{ search.profile.user.last_name }}</strong>
                <p>{{ search.time_stamp.date }}</p>
            </div>
        </a>
    {% endif %}
    <br>
    <div id="postBox">
        <h1>{{ search.title }}</h1>
        {% if search.image %}
        <br>
        <img id="postImg" src="{{ search.image.url }}">
        <br><br>
        {% endif %}
    </div>
    <br>
</div>
<br>
{% endfor %}

{% for search in blogs_category %}
<div style="text-align: center;">
    <h1>{{ search.user }}</h1>
    <br>
    <a class="btn" href="{% url 'blog_about_page' search.id %}">
    {% if search.image %}
        <br>
        <img src="{{ search.image.url }}">
        <br><br>
    {% endif %}
    <br>
    <h1>{{ search.title }}</h1>
    <strike>{{ search.time_stamp }}</strike>
    </a>
</div>
{% endfor %}

{% endblock %}
