{% extends 'base.html' %}
{% block head %}
<title>AI</title>

<style>
    #botDiv{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #bot{
        margin: 0 auto;
    }
    h1{
        text-align: center;
        font-weight: bolder;
        margin-top: 13%;
    }
    #messageForm{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
    }

    #pDiv{
        margin: 0 auto;
        align-self: last baseline;
        width: 80%;
        display: flex;
        align-items: center;
        align-content: center;
    }

    #messageInput{
        width: 86%;
        height: 50px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: none;
        text-align: center;
        outline: none;
        border-color: grey;
        border-width: 1px;
    }

    #messageInput:focus{
        outline: none;
        border-color: black;
    }

    #messageInput:hover{
        outline: none;
        border-color: black;
    }

    #messageBtn{
        width: 60px;
        height: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: none;
        text-align: center;
        outline: none;
        border-color: grey;
        border-width: 1px;
        background-color: white;
        color: black;
    }

    /* #messageBtn:focus{
        outline: none;
        border-color: black;
        background-color: lightgray;
    }

    #messageBtn:hover{
        outline: none;
        border-color: black;
        background-color: lightgray;
    } */

    #textDiv{
        text-align: center;
        margin-left: 50%;
        background-color: rgb(250, 246, 195);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 40px;
    }

    #textDivAns{
        text-align: center;
        margin-right: 50%;
        background-color: rgb(245, 160, 160);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-bottom: 40px;
    }

    #profileImage{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 90%;
        margin-bottom: 20px;
    }

    #inputArrow{
        border: 1px gray;
        fill: gray;
    }

    #inputArrow:hover{
        border: 1px black;
        fill: black;
    }

    #inputArrow:focus{
        border: 1px black;
        fill: black;
    }

</style>

{% endblock %}
{% block body %}
{% include "navbar.html" %}
<br>
{% if chatData %}
    {% for chat in chatData %}
        {% if chat.question %}
            <div id="textDiv">
                {% if chat.user.image %}
                    <img id="profileImage" src="{{ chat.user.image.url }}" alt="user's profile image">
                {% endif %}
                <br>
                <p>{{ chat.question }}</p>
            </div>
        {% endif %}
        {% if chat.answer %}
            <div id="textDivAns">
                <p>{{ chat.get_linked_text|safe }}</p>
            </div>
        {% endif %}

        <br>
    {% endfor %}
{% else %}
    <h1><svg xmlns="http://www.w3.org/2000/svg" id="bot" height="98px" viewBox="0 -960 960 960" width="98px" fill="black"><path d="M147-376q-45 0-76-31.21T40-483q0-44.58 31.21-75.79Q102.42-590 147-590v-123q0-24 18-42t42-18h166q0-45 31.21-76T480-880q44.58 0 75.79 31.21Q587-817.58 587-773h166q24 0 42 18t18 42v123q45 0 76 31.21T920-483q0 44.58-31.21 75.79Q857.58-376 813-376v196q0 24-18 42t-42 18H207q-24 0-42-18t-18-42v-196Zm196.24-100q16.76 0 28.26-11.74 11.5-11.73 11.5-28.5 0-16.76-11.74-28.26-11.73-11.5-28.5-11.5-16.76 0-28.26 11.74-11.5 11.73-11.5 28.5 0 16.76 11.74 28.26 11.73 11.5 28.5 11.5Zm274 0q16.76 0 28.26-11.74 11.5-11.73 11.5-28.5 0-16.76-11.74-28.26-11.73-11.5-28.5-11.5-16.76 0-28.26 11.74-11.5 11.73-11.5 28.5 0 16.76 11.74 28.26 11.73 11.5 28.5 11.5ZM312-285h336v-60H312v60ZM207-180h546v-533H207v533Zm273-267Z"/></svg> Hello {{ request.user.first_name}}, How can I help you?</h1>
{% endif %}
<br>
<form method="POST" action="chatWithAI" id="messageForm">
    {% csrf_token %}
    <div id="pDiv">
        <input id="messageInput" name="ask" type="text" placeholder="Ask anything!">
        <button type="submit" id="messageBtn"> <svg xmlns="http://www.w3.org/2000/svg" id="inputArrow" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"/></svg> </button>
    </div>
</form>
{% endblock %}