<div style="margin-top: 7rem;"></div>
<hr><br>
<footer style="margin: 0 auto; width: 100%;" class="footer">
    <div style="margin: 0 auto; width: 100%;" class="container">
      <div style="margin: 0 auto; width: 100%;" class="row">
        <div style="margin: 0 auto; text-align: center;" class="col-md-4">
          <h4>About Us</h4>
          <p>WYNNN (World of Your Network and Network and Network) is a social platform where users can create and share posts and blogs. Engage with others by liking, commenting, and replying to content. Build a personal profile, discover new users, and explore a world of diverse perspectives.</p>
          <ul>
            <a style="margin-top: 10px; margin-left: 5px; margin-right: 5px;" class="btn btn-outline-dark" href="{% url 'home' %}">Home</a>
            <a style="margin-top: 10px; margin-left: 5px; margin-right: 5px;" class="btn btn-outline-dark" href="{% url 'home' %}">Posts</a>
            <a style="margin-top: 10px; margin-left: 5px; margin-right: 5px;" class="btn btn-outline-dark" href="{% url 'all_blogs' %}">Blogs</a>
          </ul>
          <p>&copy; WYNNN 2024</p>
        </div>
      </div>
    </div>
  </footer>
