{% load static %}
<style>
  #SearchInputField{
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    height: 42px;
  }
  #SearchInputField:focus{
    outline: none;
    border: 1px black solid;
  }

  #profileNavImage{
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Story Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'current_user_profile' %}"> My Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'AIChat' %}">AI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_blogs' %}">Blogs</a>
          </li>
          {% if user.is_authenticated %}
          <li class='nav-item'><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class='nav-item'><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
          <li class='nav-item'><a class="nav-link" href="{% url 'login' %}">Login</a></li>            
          {% endif %}
        </ul>
        <form class="d-flex" method="POST" action="{% url 'searchbar' %}">
          {% csrf_token %}
          <input style="    border: 1px lightgray solid; border-radius: 10px; padding: 5px; margin-right: 10px; height: 42px;" id="SearchInputField" type="search" placeholder="Search" aria-label="Search" name='searched'>
          <button style="height: 42px;" class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
